{% extends "layout.html" %}

{% block title %} Register {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-6">
          <div class="register-form">
            <h4 class="card-title mb-4 mt-1">Sign Up</h4>
                  <form action="/register" method="post">
                  <div class="form-group">
                    <label>Nombre</label>
                      <input name="first_name" class="form-control" placeholder="First" type="text" required>
                  </div> <!-- form-group// -->
                  <div class="form-group">
                    <label>Apellido</label>
                      <input name="last_name" class="form-control" placeholder="Last" type="text" required>
                  </div> <!-- form-group// -->
                  <div class="form-group">
                    <label>Correo Electronico</label>
                      <input name="email" class="form-control" placeholder="email@" type="email" required>
                  </div> <!-- form-group// -->
                  <div class="form-group">
                    <label>Contraseña</label>
                      <input name="password1" class="form-control" placeholder="******" type="password" required>
                  </div> <!-- form-group// -->
                  <div class="form-group">
                    <label>Confirmar Contraseña</label>
                      <input name="password2" class="form-control" placeholder="******" type="password" required>
                  </div> <!-- form-group// -->
                  <div class="form-group">
                  </div> <!-- form-group// -->
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block"> Crear  </button>
                  </div> <!-- form-group// -->
                  <p class="text-center"><a href="{{url_for("login")}}" class="">Ya tienes una cuenta?</a></p>
                </form>
            </div>
        </div>
        <div class="col-6"><!--image--></div>
    </div>
</div>

{% endblock %}
